@import '../../styles/variables';

.footer {
  background: $dark;
  color: $light;
  padding: 4.18rem 3.25rem 2.82rem;
  display: grid;  
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  path { fill: $light; }
}

.navList {
  display: flex;
}

.link {
  margin: 0 2.5rem;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  

  &:last-child { margin-right: 0; }

  &.active,
  &:hover {
    color: $primary;
  }
}