@import "../../styles/variables";

.footer {
    background: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0 2.375rem;
}

.logo {
    path {
        fill: $light;
    }
}

.navList {
    li {
        text-align: center;
        margin: 2.1875rem 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.link {
    &.active,
    &:hover {
        color: $primary;
    }
}

.rrss {
    margin-top: 6.25rem;

    .navList {
        display: flex;
    }

    li {
        margin: 0;
    }

    .link {
        margin: 0 2.5rem;
    }
}

@media (min-width: 48em) {
    .footer {
        padding: 4.18rem 3.25rem 2.82rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .navList {
        display: flex;
    }

    .rrss {
        margin-top: 0;
    }

    .link {
        margin: 0 2.5rem;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.03em;
    }
}
