.work {
    margin: 0 0 5.625rem;
}

.column {
    margin: 0 5.1875rem;
    background-color: red;
}

@media (min-width: 48em) {
    .work {
        display: flex;
        flex-direction: row;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}
